
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.card-container-one{
    margin-top: 80px;
    height: 350px;
    margin-left: 80px;
}

#containerText{
    width: 420px;
    float: left;
}

#containerStars1 {
    background-color: rgb(234, 223, 238);
    float: left;  
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 60px;
    height: 40px;
}
#containerStars2{
    background-color:  rgb(234, 223, 238);
    float: left;  
    margin-left: 140px;
    border-radius: 8px;
    margin-top: 20px;
    height: 40px;
}
#containerStars3{
    background-color: rgb(234, 223, 238);
    float: left;  
    margin-left: 180px; 
    border-radius: 8px;
    margin-top: 20px;
    height: 40px;
}

p#text-star{
    float: right;
    margin-left: 50px;
    margin-right: 40px;
    color: rgb(75, 16, 100);
    font-weight:bold;
}

.star{
    float: left;
    width: 20 ;
    height: 20;
    margin-left: 10px;
}

h1#text-container-one{
color: rgb(75, 16, 100);
font-size: 50px;
font-weight:bold;
}
p#text2-container-one{
    color: rgb(169, 164, 172);
    font-size: 18px;
}


.card-container-two{
    height: 400px;
    margin-left: 80px;
}

#containerImage1{
    height: 185px;
    width: 300px;
    background-color: rgb(75, 16, 100);
    float: left;  
    border-radius: 8px;
    margin-right: 30px;
}
#text{
    text-align: center;
    float: left;
    margin-top: 25px;
    margin-right: 2px;
    margin-left: 2px;
    
}
#text-name-men{
    float: left;
    margin-left: 18px; 
    margin-top: 22px;
    color: white;
    font-weight:bold;
}
#text-name-men1{
    float: left;
    margin-left: 18px; 
    margin-top: 0%;
    color: rgb(131, 27, 175);
    
}
#text-men{
    color: white;
}

#containerImage2{
    height: 185px;
    width: 300px;
    background-color: rgb(75, 16, 100);
    float: left;  
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 30px;
}
#containerImage3{
    height: 185px;
    width: 300px;
    background-color: rgb(75, 16, 100);
    float: left;  
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 60px;
}
.men{
    border-radius: 40px;
    float: left;
}
.woman1{
    border-radius: 40px;
    float: left;
}
.woman2{
    border-radius: 40px;
    float: left;
}

@media (max-width: 768px) {
    #mainContainer #cardContainer .card-container-one .card-container-two {
      flex-direction: column;
    }

}
    